body, html {
  font-family: Google Sans, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  color: #202124;
  background-color: #d6dae04d;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;
  font-family: "Google Sans", sans-serif !important;
}
.dashboard .mdc-layout-grid {
  padding: 0;
}
.dashboard .mdc-top-app-bar--fixed-adjust {
  padding: 64px 10px 20px;
  width: -webkit-fill-available;
  margin-bottom: 20px;
  overflow-y: auto;
}
.dashboard .mdc-card {
  border-radius: 8px;
  border: 1px solid #dadce0;
}
.dashboard .drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}
.dashboard .drawer-app-content {
  flex: auto;
  overflow: auto;
}
.dashboard .top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}
.dashboard .side-nav {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 96px;
  z-index: 50;
}
.dashboard .side-nav__top {
  height: 64px;
}
.dashboard .headline-4 {
  font-family: "Google Sans";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.75rem;
}
.dashboard .detail {
  color: #1967d2;
  color: var(--mdc-theme-primary, #1967d2);
}
.dashboard .single-page-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 52px;
}
.dashboard .single-page-details__icon {
  padding-right: 4px;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: lighter;
}
.dashboard .trip-details-card {
  padding: 30px;
  width: 535px;
}
.dashboard .mdc-notched-outline__idle {
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid;
}
.dashboard .mdc-text-field--focused {
  border: none !important;
}
.dashboard .card-media {
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 35%;
}
.dashboard .card-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  padding: 16px;
}
.dashboard .card-header__main {
  color: white;
  font: 500 20px/24px "Google Sans", Roboto, Arial, sans-serif;
  letter-spacing: normal;
  padding-bottom: 7px;
  text-shadow: 1px 1px 2px #000000;
}
.dashboard .card-header__sub {
  color: white;
  text-shadow: 1px 1px 2px #000000;
}
@media (max-width: 539px) {
  .dashboard .card-media {
    padding-top: 23%;
  }
  .dashboard .button-title {
    font-size: 14px;
  }
  .dashboard .card-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    padding: 16px;
  }
  .dashboard .card-header__main {
    color: white;
    font: 500 16px/18px "Google Sans", Roboto, Arial, sans-serif;
    letter-spacing: normal;
    padding-bottom: 7px;
  }
  .dashboard .card-header__sub {
    color: white;
    font-size: 12px;
  }
  .dashboard .mdc-card__actions {
    padding: 0 0 0 8px !important;
    min-height: 22px !important;
  }
}

.cover {
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  width: auto;
  position: relative;
  height: 0;
}

.head-title {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 84%;
  width: 100%;
  color: #5f6368;
}

.title-cover-page {
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #5f6368;
}

.title-cover {
  font: 400 36px/54px Google Sans, Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin-top: 10px;
}

.blank-content {
  padding-top: 80px;
  position: relative;
  text-align: center;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100%;
  color: #5f6368;
}
.blank-content h2 {
  color: rgba(87, 93, 96, 0.47);
  font-size: 44px;
  font-family: "San Francisco", serif;
  font-weight: 200;
  margin-top: 50px;
  line-height: 60px;
  letter-spacing: -2px;
  word-spacing: 2px;
}

.top-buttons {
  margin: 200px 0 0 0;
  height: 74px;
  position: relative;
  text-align: center;
  display: flex;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  align-items: center;
  width: 86%;
  color: #5f6368;
  justify-content: space-between;
  z-index: 3;
}
.top-buttons .button-schedule {
  position: relative;
  text-align: center;
  display: flex;
}
.top-buttons .manual-schedule {
  position: relative;
  text-align: center;
  display: flex;
}
.top-buttons .create-schedule-button {
  bottom: 18px;
  margin-left: 36px;
  margin-top: 28px;
  right: 24px;
  width: 56px;
  height: 56px;
  color: #f1f1f1;
  border: none;
  border-radius: 50%;
  background-color: #3480E3;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}
.top-buttons .manual-override {
  margin-top: 18px;
  margin-right: 12px;
}

@media (max-width: 539px) {
  .dashboard .bottom-buttons {
    margin: 0;
    display: inline-flex;
    align-items: center;
  }
  .dashboard .bottom-buttons .button-schedule {
    position: relative;
    text-align: center;
    display: flex;
  }
  .dashboard .bottom-buttons .manual-schedule {
    position: relative;
    text-align: center;
    display: flex;
  }
  .dashboard .bottom-buttons .create-schedule-button {
    position: fixed !important;
    bottom: 22px;
    margin-left: 36px;
    margin-top: 28px;
    right: 24px;
    width: 56px;
    height: 56px;
    color: #f1f1f1;
    border: none;
    border-radius: 50%;
    background-color: #3480E3;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, box-shadow;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  }
  .dashboard .bottom-buttons .manual-override {
    margin-right: 12px;
  }
  .dashboard .blank-content {
    padding-top: 10px;
    position: relative;
    text-align: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    color: #5f6368;
  }
  .dashboard .blank-content h2 {
    font-size: 30px;
    font-family: "San Francisco", serif;
    font-weight: 200;
    margin-top: 50px;
    line-height: 50px;
    letter-spacing: -2px;
    word-spacing: 2px;
  }
  .dashboard .create-schedule-button {
    position: fixed !important;
    margin-left: 0;
    bottom: 28px;
  }
  .dashboard .button-schedule h5 {
    display: none;
  }
  .dashboard .manual-schedule {
    text-align: center;
    display: flex;
    margin-left: 0;
    margin-right: 40px;
    margin-top: 20px;
  }
  .dashboard .manual-schedule h5 {
    margin: -3px 10px 0 0;
    font-size: 10px;
  }
  .dashboard .main-subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-style: solid;
    border-color: #636363;
    border-width: 0.5px;
  }
  .dashboard .main-subheader h3 {
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  .dashboard .top-buttons {
    margin: 10px 0 0 0;
  }
  .dashboard .blank-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .dashboard .blank-content h2 {
    font-size: 24px;
    margin-top: 0;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .dashboard .create-schedule-button {
    position: fixed !important;
    margin-left: 0;
    bottom: 28px;
  }
  .dashboard .button-schedule h5 {
    display: none;
  }
  .dashboard .manual-schedule {
    bottom: 28px;
    position: fixed !important;
    text-align: center;
    display: flex;
  }
  .dashboard .manual-override {
    margin-top: 10px;
    margin-right: 12px;
  }
}
.register header {
  display: flex;
  justify-content: space-between;
  margin: 0 !important;
}

/*# sourceMappingURL=DashboardPage.css.map */
