.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;
  font-family: "Google Sans", sans-serif !important;
}
.dashboard .mdc-layout-grid {
  padding: 0;
}
.dashboard .mdc-top-app-bar--fixed-adjust {
  padding: 64px 10px 20px;
  width: -webkit-fill-available;
}
.dashboard .mdc-card {
  border-radius: 8px;
  border: 1px solid #dadce0;
}
.dashboard .drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}
.dashboard .drawer-app-content {
  flex: auto;
  overflow: auto;
}
.dashboard .top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}
.dashboard .side-nav {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 96px;
  z-index: 50;
}
.dashboard .side-nav__top {
  height: 64px;
}
.dashboard .headline-4 {
  font-family: "Google Sans";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.75rem;
}
.dashboard .detail {
  color: #1967d2;
  color: var(--mdc-theme-primary, #1967d2);
}
.dashboard .MuiPaper-elevation2 {
  border-radius: 8px;
  background-color: rgba(241, 241, 241, 0.45);
  border: 1px solid #dadce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
}
.dashboard .MuiTypography-h6 {
  font-size: 1.3em;
  font-family: "Google Sans";
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.dashboard .MuiTableSortLabel-root {
  font-family: "Google Sans";
  font-size: 14px;
}
.dashboard .MuiTableCell-root {
  display: table-cell;
  padding: 14px 40px 14px 16px;
  font-size: 0.875rem;
  text-align: left;
  font-family: "Google Sans";
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid #e0e0e0;
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
.dashboard .MTableHeader-header-141 {
  top: 0;
  z-index: 2;
  position: sticky;
  background-color: #fff;
}
.dashboard .single-page-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 52px;
}
.dashboard .single-page-details__icon {
  padding-right: 4px;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: lighter;
}
.dashboard .trip-details-card {
  padding: 30px;
  width: 535px;
}
.dashboard .mdc-notched-outline__idle {
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid;
}
.dashboard .mdc-text-field--focused {
  border: none !important;
}
.dashboard .search {
  margin-top: 20px;
  margin-bottom: 20px;
}
.dashboard .search-input {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(60, 63, 66, 0.32), 0 4px 12px rgba(60, 63, 66, 0.15);
  box-shadow: 0 1px 3px rgba(60, 63, 66, 0.32), 0 4px 12px rgba(60, 63, 66, 0.15);
  color: #80868b;
  left: 0;
  max-width: 100%;
  min-height: 56px;
  position: absolute;
  top: 0;
  -webkit-transition: width 200ms ease, max-width 200ms ease, height 200ms ease, min-height 200ms ease, top 200ms ease, left 200ms ease, border 200ms ease, margin 200ms ease, padding 200ms ease, border-radius 100ms ease, background-color 400ms ease;
  transition: width 200ms ease, max-width 200ms ease, height 200ms ease, min-height 200ms ease, top 200ms ease, left 200ms ease, border 200ms ease, margin 200ms ease, padding 200ms ease, border-radius 100ms ease, background-color 400ms ease;
  z-index: 100;
}
.dashboard .card-media {
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 35%;
}
.dashboard .card-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  padding: 16px;
}
.dashboard .card-header__main {
  color: white;
  font: 500 20px/24px "Google Sans", Roboto, Arial, sans-serif;
  letter-spacing: normal;
  padding-bottom: 7px;
  text-shadow: 1px 1px 2px #000000;
}
.dashboard .card-header__sub {
  color: white;
  text-shadow: 1px 1px 2px #000000;
}
.dashboard .user-trips {
  margin-top: 50px;
}
@media (max-width: 539px) {
  .dashboard .card-media {
    padding-top: 23%;
  }
  .dashboard .button-title {
    font-size: 14px;
  }
  .dashboard .card-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    padding: 16px;
  }
  .dashboard .card-header__main {
    color: white;
    font: 500 16px/18px "Google Sans", Roboto, Arial, sans-serif;
    letter-spacing: normal;
    padding-bottom: 7px;
  }
  .dashboard .card-header__sub {
    color: white;
    font-size: 12px;
  }
  .dashboard .mdc-card__actions {
    padding: 0 0 0 8px !important;
    min-height: 22px !important;
  }
}

.cover-image {
  background-image: url(https://res.cloudinary.com/mashafrancis/image/upload/v1559077974/kari4me/Travel_home_desktop.png);
}

.cover {
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  width: auto;
  position: relative;
  height: 0;
}

.head-title {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 84%;
  width: 100%;
  color: #5f6368;
}

.title-cover-page {
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #5f6368;
}

.title-cover {
  font: 400 36px/54px Google Sans, Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin-top: 10px;
}

.blank-content {
  padding-top: 18%;
  position: relative;
  text-align: center;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100%;
  color: #5f6368;
}

.create-trip-button {
  position: fixed !important;
  bottom: 28px;
  right: 24px;
  width: 56px;
  height: 56px;
  color: #5f6368;
  border: none;
  border-radius: 50%;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}

/*# sourceMappingURL=DashboardPage.css.map */
