.user-roles-page-loader {
  .tbl-header,
  .tbl-row {
    padding-right: 40px;
    padding-left: 40px;

    &__column {
      flex: 1;

      @for $i from 5 through 150 {
        &--#{$i} {
          flex-basis: $i * 1%;
        }
      }

      &--center-text {
        text-align: center;
      }
    }
  }

  .tbl-header {
    display: flex;
    padding-bottom: 0.8rem;
    border-radius: 0.25rem;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #333333;
  }

  .tbl-row {
    position: relative;
    display: flex;
    color: rgba(37, 37, 37, 0.93);
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    line-height: 20px;
    align-items: center;
    width: -webkit-fill-available;
    height: 49px;
    border: 1px solid #dadce0;
  }
}

@media (max-width: 539px) {
  .user-roles-page-loader {
    .tbl-header,
    .tbl-row {
      padding-right: 40px;
      padding-left: 40px;

      &__column {
        flex: 1;

        @for $i from 5 through 150 {
          &--#{$i} {
            flex-basis: $i * 1%;
          }
        }

        &--center-text {
          text-align: center;
        }
      }
    }

    .tbl-header {
      font-size: 14px;
      margin-left: 0;
    }

    .tbl-row-number {
      display: none;
    }

    .tbl-row {
      position: relative;
      display: flex;
      margin-bottom: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-radius: 6px;
      font-size: 19px;
      font-weight: 300;
      line-height: 20px;
      align-items: center;
      height: 35px !important;
    }
  }
}
