.water-schedule-table {
  //width: 86%;
  border-radius: 8px;
  border: 1px solid #dadce0;
  background-color: #f9f9f9;

  &__content {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.blank-content {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  text-align: center;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100%;
  color: #5f6368;

  h2 {
    color: rgba(87, 93, 96, 0.47);
    font-size: 30px;
    font-family: "San Francisco", serif !important;
    font-weight: 100;
    margin-top: 10px;
    line-height: 40px;
    letter-spacing: -2px;
    word-spacing: 2px;
  }
}

.MuiInputBase-input {
  font-size: 24px !important;
}

.MuiTypography-h2 {
  font-size: 3.85rem;
}

.MuiPickersToolbar-toolbar {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #3480E3 !important;
}

.MuiPickersClock-pin {
  background-color: #3480E3 !important;
}

.MuiPickersClockPointer-pointer {
  background-color: #3480E3 !important;
}

.MuiPickersClockPointer-thumb {
  border: 14px solid #3480E3 !important;
}

.MuiButton-textPrimary {
  color: #3480E3 !important;
}

.MuiPaper-rounded {
  border-radius: 8px;
}

.headline-5, h5 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #7D7D7D;
}

.mdc-text-field--fullwidth:not(.mdc-text-field--textarea):not(.mdc-text-field--disabled) {
  background-color: #ffffff7a;
}

.next-time-schedule {
  font-weight: 400;
  font-size: 30px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  color: #1967d2;
  color: var(--mdc-theme-primary, #1967d2);
}


@media (max-width: 539px) {
  .water-schedule-table {
    width: 100%;
  }

  //.schedules-available {
  //  max-height: 360px;
  //}

  .blank-content {
    padding-top: 10px;
    position: relative;
    text-align: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    color: #5f6368;

    h2 {
      font-size: 30px;
      font-family: "San Francisco", serif !important;
      font-weight: 300;
      margin-top: 50px;
      line-height: 50px;
      letter-spacing: -2px;
      word-spacing: 2px;
    }
  }
}

@media (max-width: 360px) {
  .blank-content {
    padding-left: 10px;
    padding-right: 10px;

    h2 {
      font-size: 24px;
      margin-top: 0;
      line-height: 40px;
      letter-spacing: -1px;
    }
  }
}

.charts {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 300;
  grid-column: 1/5;

  &__donut-chart-card {
    width: 30%;
    height: rem(267px);
    margin-right: rem(29px);

    &__content {
      display: flex;
      justify-content: space-around;
    }
  }

  &__bar-chart-card {
    width: 70%;
    height: 36.5rem;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__date-range {
      position: absolute;
      top: 26.5rem;
      right: 1.625rem;
      box-shadow: rem(1px) rem(1px) rem(81px) rgba(41, 60, 74, 0.18);
    }
  }
}
