h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Google Sans, Roboto, Helvetica Neue, sans-serif;
}

.mdc-snackbar {
  z-index: 999 !important;
  margin: 8px;
  position: fixed;
  height: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
}

.mdc-snackbar__action {
  &:not(:disabled) {
    color: #3480E3 !important;
  }
  &::after, &::before {
    background-color: #3480E3 !important;
  }
  &:hover::before {
    opacity: 0.08;
  }
  &.mdc-ripple-upgraded--background-focused::before {
    transition-duration: 75ms;
    opacity: 0.24;
  }
  &:not(.mdc-ripple-upgraded) {
    &:focus::before {
      transition-duration: 75ms;
      opacity: 0.24;
    }
    &::after {
      transition: opacity 150ms linear;
    }
    &:active::after {
      transition-duration: 75ms;
      opacity: 0.32;
    }
  }
  &.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 0.32;
  }
}

@media (min-width: 539px) {
  .mdc-snackbar {
    position: fixed;
    z-index: 99;
    top: 1rem;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 320px;
    height: 32px;
    margin-top: 0;
    margin-left: -200px;
    padding: 0 15px 0 20px;
    box-sizing: border-box;
    border-radius: 4px;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: slideInDown;
    opacity: 0.95;
  }
}

//.mdc-snackbar__surface {
//  background-color: #55D69C;
//}
