body, html {
  font-family: Google Sans, Roboto, Helvetica Neue, sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  color: #202124;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: auto;

  .MuiFormLabel-root {
    font-family: Google Sans, Roboto, Helvetica Neue, sans-serif !important;
  }

  .mdc-top-app-bar {
    background-color: #fff;
    color: #fff;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid #dadce0;

    &__title {
      color: rgba(0, 0, 0, 0.87);
    }

    &__navigation-icon {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }

  .drawer-logo__image {
    height: 44px;
  }

  .mdc-drawer .mdc-list-item {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 14px !important;
    border-radius: 0 24px 24px 0;
    line-height: 1.375rem;
    font-weight: 400;
    letter-spacing: 0.00714em;
    text-decoration: inherit;
    text-transform: inherit;
    height: calc(48px - 2 * 4px);
    margin: 10px 10px 0 0;
    padding: 0 14px;
  }

  .mdc-list-item--selected {
    background-color: rgba(66, 133, 244, 0.15);
    color: #1967d2 !important;
    font-weight: 500 !important;
  }

  :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--selected::after, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--selected::before {
    background: rgba(0, 0, 0, 0);
    opacity: 0.04;
  }

  .mdc-list-item--logout {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #111111 !important;
    font-weight: 400 !important;
  }

  .mdc-layout-grid {
    //padding: 0;
  }

  .mdc-drawer__content {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #d6dae04d;
  }

  .mdc-drawer .mdc-list-item:nth-last-child(1) {
    margin-bottom: 10px;
  }

  .mdc-drawer .mdc-list-item:nth-child(1) {
    margin-top: 6px;
  }

  .dashboard-title {
    margin-top: 16px;
    margin-bottom: 26px;

    h3 {
      font-weight: 300;
      font-size: 22px;
    }
  }

  .mdc-top-app-bar--fixed-adjust {
    padding: 64px 10px 20px;
    width: -webkit-fill-available;
    margin-bottom: 20px;
    overflow-y: auto;
  }

  .mdc-card {
    border-radius: 8px;
    border: 1px solid #dadce0;
    overflow-y: auto;
  }

  .drawer-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }

  .drawer-app-content {
    flex: auto;
    overflow: auto;
  }

  .top-app-bar-fix-adjust {
    display: flex;
    width: 100%;
  }

  .side-nav {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 96px;
    z-index: 50;

    &__top {
      height: 64px;
    }
  }

  .headline-4 {
    font-family: "Google Sans";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.05rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

  .detail {
    color: #1967d2;
    color: var(--mdc-theme-primary, #1967d2);
  }

  .single-page-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 52px;

    &__icon {
      padding-right: 4px;
      padding-bottom: 2px;
      font-size: 16px;
      font-weight: lighter;
    }
  }

  .trip-details-card {
    padding: 30px;
    width: 535px;
  }

  .mdc-notched-outline__idle {
    -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid;
  }

  .mdc-text-field--focused {
    border: none !important;
  }

  .card-media {
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: 35%;
  }

  @media (max-width: 539px) {
    .mdc-top-app-bar {
      background-color: #fff;;
      color: #3c4043;
      display: flex;
      position: fixed;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      height: 64px;
      z-index: 4;
      border-bottom: none;
      box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);

      &__title {
        color: rgba(0, 0, 0, 0.87);
      }

      &__navigation-icon {
        color: rgba(0, 0, 0, 0.87) !important;
      }
    }

    .mini-account-menu__image {
      background-size: 36px 36px;
      //display: none;
    }

    .drawer-logo__image {
      height: 44px;
      margin-top: 10px;
    }
    .card-media {
      padding-top: 23%;
    }

    .dashboard-title {
      display: none;
    }

    .button-title {
      font-size: 14px;
    }

    .mdc-card__actions {
      padding: 0 0 0 8px !important;
      min-height: 22px !important;
    }

    .page-content {
      display: block;
      width: 100%;
      font-size: 10px;

      &__navigation {
        font-family: Google Sans, Roboto, Helvetica Neue, sans-serif !important;
        font-size: 10px;
        display: flex;
        background-color: rgb(242, 242, 242);
        z-index: 99;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: solid 0.8px #dadce0;;
      }
    }
  }
}

.page-content {
  &__navigation {
    display: none;
  }
}

.mdc-dialog {
  z-index: 100 !important;
}

.cover {
  //background: center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  width: auto;
  position: relative;
  height: 0;
}

.head-title {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 84%;
  width: 100%;
  color: #5f6368;
}

.title-cover-page {
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #5f6368;
}

.title-cover {
  font: 400 36px/54px Google Sans, Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  margin-top: 10px;
}

.top-buttons {
  margin: 200px 0 0 0;
  height: 74px;
  position: relative;
  text-align: center;
  display: flex;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  align-items: center;
  width: 86%;
  color: #5f6368;
  justify-content: space-between;
  z-index: 3;

  .button-schedule {
    position: relative;
    text-align: center;
    display: flex;
  }

  .manual-schedule {
    position: relative;
    text-align: center;
    display: flex;
  }

  .create-schedule-button {
    //position: fixed !important;
    bottom: 18px;
    margin-left: 36px;
    margin-top: 28px;
    right: 24px;
    width: 56px;
    height: 56px;
    color: #f1f1f1;
    border: none;
    border-radius: 50%;
    background-color: #3480E3;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, box-shadow;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .3), 0px 0px 1px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .25), inset 0px -1px 0px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, .3), 0px 0px 1px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .25), inset 0px -1px 0px rgba(0, 0, 0, .15);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .3), 0px 0px 1px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .25), inset 0px -1px 0px rgba(0, 0, 0, .15);
  }

  .manual-override {
    margin-top: 18px;
    margin-right: 12px;
  }

  .main-subheader {
    display: none;

    h3 {
      display: none;
    }
  }
}

@media (max-width: 539px) {
  .dashboard {
    .mdc-layout-grid {
      padding: 0 !important;
    }

    .bottom-buttons {
      margin: 0;
      display: inline-flex;
      align-items: center;

      .button-schedule {
        position: relative;
        text-align: center;
        display: flex;
      }

      .manual-schedule {
        position: relative;
        //text-align: center;
        display: flex;
      }

      .create-schedule-button {
        position: fixed !important;
        bottom: 22px;
        margin-left: 36px;
        margin-top: 28px;
        right: 24px;
        width: 56px;
        height: 56px;
        color: #f1f1f1;
        border: none;
        border-radius: 50%;
        background-color: #3480E3;
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
        -webkit-transition-property: background-color, -webkit-box-shadow;
        transition-property: background-color, box-shadow;
        cursor: pointer;
        -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .3), 0px 0px 1px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .25), inset 0px -1px 0px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, .3), 0px 0px 1px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .25), inset 0px -1px 0px rgba(0, 0, 0, .15);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, .3), 0px 0px 1px rgba(0, 0, 0, .1), inset 0px 1px 0px rgba(255, 255, 255, .25), inset 0px -1px 0px rgba(0, 0, 0, .15);
      }

      .manual-override {
        //margin-top: 18px;
        margin-right: 12px;
      }
    }

    .create-schedule-button {
      position: fixed !important;
      margin-left: 0;
      bottom: 28px;
    }

    .button-schedule {
      h5 {
        display: none;
      }
    }

    .manual-schedule {
      //text-align: center;
      display: flex;
      margin-left: 0;
      //margin-right: 40px;
      margin-top: 20px;

      h5 {
        margin: -3px 10px 0 0;
        font-size: 10px;
      }
    }

    .manual-override {
      //margin-top: 14px;
      //margin-right: 12px;
    }

    .main-subheader {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .device-header-container {
        display: flex;
      }

      &__device-id {
        color: rgba(244, 244, 244, 0.97) !important;
        background-color: rgba(17, 17, 17, 0.8) !important;
        padding: 4px 20px !important;
        border: 1px solid #dadce0;
        border-radius: 4px;
        display: flex;
        cursor: pointer;
      }

      h3 {
        margin-top: 20px;
        background-color: rgba(25, 103, 210, 0.11);
        padding: 6px 20px;
        color: #134995;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 360px) {
  .dashboard {
    .top-buttons {
      margin: 10px 0 0 0;
    }

    .create-schedule-button {
      position: fixed !important;
      margin-left: 0;
      bottom: 28px;
    }

    .button-schedule {
      h5 {
        display: none;
      }
    }

    .manual-schedule {
      bottom: 28px;
      position: fixed !important;
      //text-align: center;
      display: flex;
    }

    .manual-override {
      margin-top: 10px;
      margin-right: 12px;
    }
  }
}

.register header {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 539px) {
  .main-subheader {
    display: none;

    h3 {
      display: none;
    }
  }
}

.MuiFormLabel-root {
  font-family: Google Sans, Roboto, Helvetica Neue, sans-serif !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #3480E3 !important;
}
