.blank-quality-content h2 {
	margin-top: 10px;
	font-family: 'San Francisco', serif !important;
	font-size: 60px;
	font-weight: 100;
	line-height: 40px;
	color: rgba(87, 93, 96, 0.47);
	letter-spacing: -2px;
	word-spacing: 2px;
}
