.blank-quality-content h2 {
  color: rgba(87, 93, 96, 0.47);
  font-size: 60px;
  font-family: "San Francisco", serif !important;
  font-weight: 100;
  margin-top: 10px;
  line-height: 40px;
  letter-spacing: -2px;
  word-spacing: 2px;
}
