.tbl-header,
.tbl-row {
  padding-right: 40px;
  padding-left: 40px;

  &__column {
    flex: 1;

    @for $i from 5 through 150 {
      &--#{$i} {
        flex-basis: $i * 1%;
      }
    }

    &--center-text {
      text-align: center;
    }
  }
}

.tbl-header {
  display: flex;
  padding-bottom: 0.8rem;
  font: 500 15px/20px 'Google Sans', Roboto, Arial, sans-serif;
  line-height: 21px;
  color: #1a73e8;
  letter-spacing: 0.25px;
  //margin-left: 12px;
  word-break: break-all;
  border-radius: 0.25rem;
}

.heading-separator {
  width: 0;
  height: 26px;
  border-left: 1px solid #dadce0;
}

.header-text {
  margin-left: 10px;
}

.content-text {
  display: block;
  margin-left: 10px;

  @media (max-width: 539px) {
    font: 400 15px/16px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
    letter-spacing: 0.3px;
  }
}

.tbl-row {
  position: relative;
  display: flex;
  width: -webkit-fill-available;
  height: 59px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 8px;
  font: 400 16px/24px 'Google Sans', Roboto, Helvetica Neue, sans-serif;
  line-height: 20px;
  color: rgba(37, 37, 37, 0.93);
  letter-spacing: 0.1px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  align-items: center;

  &:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .headline-6,
  h6 {
    padding-left: 0;
    font: 400 16px/24px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
    line-height: 1.25rem;
    color: #4f4f4f;
    letter-spacing: 0.1px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    //margin: 0 0 0 10px !important;

    @media (max-width: 539px) {
      font: 400 12px/14px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
      letter-spacing: 0.3px;
    }
  }
}

.tbl-status {
  background-color: rgba(58, 58, 58, 0.09) !important;
}

.clickable-asset-tag {
  color: #1967d2;
  cursor: pointer;
}

.edit-asset-tag,
.delete-asset-tag {
  color: #1967d2;
  text-decoration: none;
  cursor: pointer;
}

.delete-asset-tag {
  display: inline-block;
  margin-left: 20px;
}

.single-category-group {
  .tbl-header,
  .tbl-row {
    &__column--action {
      width: 90px;
      text-align: left;
    }
  }
}

.action-buttons {
  display: flex;
  font: 400 16px/24px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
  cursor: pointer;

  h5 {
    margin: 0;
    font: 400 16px/24px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
  }

  &__edit {
    font: 400 16px/24px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
    color: #1967d2;
  }

  &__delete {
    margin-left: 20px !important;
    font: 400 16px/24px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
    color: #9e143e !important;
  }

  @media (max-width: 539px) {
    h5 {
      font: 400 14px/16px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
    }
  }
}

.tbl-columns {
  display: flex;
}

.tbl-row-number {
  width: 50px;
  height: 50px;
  margin-top: 4px;
  margin-right: 18px;
  font-size: 50px;
  line-height: 500px;
  text-align: center;
  background: #fff;
  border: 0.4px solid #0a0a0b;
  border-radius: 60%;

  h5 {
    margin: 16px 0 0;
    font-size: 20px;
    font-weight: 400;
    color: #4f4f4f;
  }
}

@media (max-width: 539px) {
  .tbl-header,
  .tbl-row {
    padding-right: 20px;
    padding-left: 10px;

    &__column {
      flex: 1;

      @for $i from 5 through 150 {
        &--#{$i} {
          flex-basis: $i * 1%;
        }
      }

      &--center-text {
        text-align: center;
      }
    }
  }

  .tbl-header {
    margin-left: 0;
    font: 500 12px/14px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
  }

  .tbl-row-number {
    display: none;
  }

  .tbl-row {
    position: relative;
    display: flex;
    height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font: 400 12px/15px 'Google Sans', Roboto, Helvetica Neue, sans-serif !important;
    line-height: 20px;
    letter-spacing: 0.25px;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 6px;
    align-items: center;

    &:hover {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .clickable-asset-tag {
    color: #1967d2;
    cursor: pointer;
  }

  .edit-asset-tag,
  .delete-asset-tag {
    color: #1967d2;
    text-decoration: none;
    cursor: pointer;
  }

  .delete-asset-tag {
    display: inline-block;
    margin-left: 20px;
  }

  .single-category-group {
    .tbl-header,
    .tbl-row {
      &__column--action {
        width: 90px;
        text-align: left;
      }
    }
  }

  .action-buttons {
    display: flex;

    h5 {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
    }

    &__delete {
      margin-left: 20px !important;
      color: #9e143e !important;
    }
  }
}
