.tbl-header,
.tbl-row {
  padding-right: 40px;
  padding-left: 40px;
}
.tbl-header__column,
.tbl-row__column {
  flex: 1;
}
.tbl-header__column--5,
.tbl-row__column--5 {
  flex-basis: 5%;
}
.tbl-header__column--6,
.tbl-row__column--6 {
  flex-basis: 6%;
}
.tbl-header__column--7,
.tbl-row__column--7 {
  flex-basis: 7%;
}
.tbl-header__column--8,
.tbl-row__column--8 {
  flex-basis: 8%;
}
.tbl-header__column--9,
.tbl-row__column--9 {
  flex-basis: 9%;
}
.tbl-header__column--10,
.tbl-row__column--10 {
  flex-basis: 10%;
}
.tbl-header__column--11,
.tbl-row__column--11 {
  flex-basis: 11%;
}
.tbl-header__column--12,
.tbl-row__column--12 {
  flex-basis: 12%;
}
.tbl-header__column--13,
.tbl-row__column--13 {
  flex-basis: 13%;
}
.tbl-header__column--14,
.tbl-row__column--14 {
  flex-basis: 14%;
}
.tbl-header__column--15,
.tbl-row__column--15 {
  flex-basis: 15%;
}
.tbl-header__column--16,
.tbl-row__column--16 {
  flex-basis: 16%;
}
.tbl-header__column--17,
.tbl-row__column--17 {
  flex-basis: 17%;
}
.tbl-header__column--18,
.tbl-row__column--18 {
  flex-basis: 18%;
}
.tbl-header__column--19,
.tbl-row__column--19 {
  flex-basis: 19%;
}
.tbl-header__column--20,
.tbl-row__column--20 {
  flex-basis: 20%;
}
.tbl-header__column--21,
.tbl-row__column--21 {
  flex-basis: 21%;
}
.tbl-header__column--22,
.tbl-row__column--22 {
  flex-basis: 22%;
}
.tbl-header__column--23,
.tbl-row__column--23 {
  flex-basis: 23%;
}
.tbl-header__column--24,
.tbl-row__column--24 {
  flex-basis: 24%;
}
.tbl-header__column--25,
.tbl-row__column--25 {
  flex-basis: 25%;
}
.tbl-header__column--26,
.tbl-row__column--26 {
  flex-basis: 26%;
}
.tbl-header__column--27,
.tbl-row__column--27 {
  flex-basis: 27%;
}
.tbl-header__column--28,
.tbl-row__column--28 {
  flex-basis: 28%;
}
.tbl-header__column--29,
.tbl-row__column--29 {
  flex-basis: 29%;
}
.tbl-header__column--30,
.tbl-row__column--30 {
  flex-basis: 30%;
}
.tbl-header__column--31,
.tbl-row__column--31 {
  flex-basis: 31%;
}
.tbl-header__column--32,
.tbl-row__column--32 {
  flex-basis: 32%;
}
.tbl-header__column--33,
.tbl-row__column--33 {
  flex-basis: 33%;
}
.tbl-header__column--34,
.tbl-row__column--34 {
  flex-basis: 34%;
}
.tbl-header__column--35,
.tbl-row__column--35 {
  flex-basis: 35%;
}
.tbl-header__column--36,
.tbl-row__column--36 {
  flex-basis: 36%;
}
.tbl-header__column--37,
.tbl-row__column--37 {
  flex-basis: 37%;
}
.tbl-header__column--38,
.tbl-row__column--38 {
  flex-basis: 38%;
}
.tbl-header__column--39,
.tbl-row__column--39 {
  flex-basis: 39%;
}
.tbl-header__column--40,
.tbl-row__column--40 {
  flex-basis: 40%;
}
.tbl-header__column--41,
.tbl-row__column--41 {
  flex-basis: 41%;
}
.tbl-header__column--42,
.tbl-row__column--42 {
  flex-basis: 42%;
}
.tbl-header__column--43,
.tbl-row__column--43 {
  flex-basis: 43%;
}
.tbl-header__column--44,
.tbl-row__column--44 {
  flex-basis: 44%;
}
.tbl-header__column--45,
.tbl-row__column--45 {
  flex-basis: 45%;
}
.tbl-header__column--46,
.tbl-row__column--46 {
  flex-basis: 46%;
}
.tbl-header__column--47,
.tbl-row__column--47 {
  flex-basis: 47%;
}
.tbl-header__column--48,
.tbl-row__column--48 {
  flex-basis: 48%;
}
.tbl-header__column--49,
.tbl-row__column--49 {
  flex-basis: 49%;
}
.tbl-header__column--50,
.tbl-row__column--50 {
  flex-basis: 50%;
}
.tbl-header__column--51,
.tbl-row__column--51 {
  flex-basis: 51%;
}
.tbl-header__column--52,
.tbl-row__column--52 {
  flex-basis: 52%;
}
.tbl-header__column--53,
.tbl-row__column--53 {
  flex-basis: 53%;
}
.tbl-header__column--54,
.tbl-row__column--54 {
  flex-basis: 54%;
}
.tbl-header__column--55,
.tbl-row__column--55 {
  flex-basis: 55%;
}
.tbl-header__column--56,
.tbl-row__column--56 {
  flex-basis: 56%;
}
.tbl-header__column--57,
.tbl-row__column--57 {
  flex-basis: 57%;
}
.tbl-header__column--58,
.tbl-row__column--58 {
  flex-basis: 58%;
}
.tbl-header__column--59,
.tbl-row__column--59 {
  flex-basis: 59%;
}
.tbl-header__column--60,
.tbl-row__column--60 {
  flex-basis: 60%;
}
.tbl-header__column--61,
.tbl-row__column--61 {
  flex-basis: 61%;
}
.tbl-header__column--62,
.tbl-row__column--62 {
  flex-basis: 62%;
}
.tbl-header__column--63,
.tbl-row__column--63 {
  flex-basis: 63%;
}
.tbl-header__column--64,
.tbl-row__column--64 {
  flex-basis: 64%;
}
.tbl-header__column--65,
.tbl-row__column--65 {
  flex-basis: 65%;
}
.tbl-header__column--66,
.tbl-row__column--66 {
  flex-basis: 66%;
}
.tbl-header__column--67,
.tbl-row__column--67 {
  flex-basis: 67%;
}
.tbl-header__column--68,
.tbl-row__column--68 {
  flex-basis: 68%;
}
.tbl-header__column--69,
.tbl-row__column--69 {
  flex-basis: 69%;
}
.tbl-header__column--70,
.tbl-row__column--70 {
  flex-basis: 70%;
}
.tbl-header__column--71,
.tbl-row__column--71 {
  flex-basis: 71%;
}
.tbl-header__column--72,
.tbl-row__column--72 {
  flex-basis: 72%;
}
.tbl-header__column--73,
.tbl-row__column--73 {
  flex-basis: 73%;
}
.tbl-header__column--74,
.tbl-row__column--74 {
  flex-basis: 74%;
}
.tbl-header__column--75,
.tbl-row__column--75 {
  flex-basis: 75%;
}
.tbl-header__column--76,
.tbl-row__column--76 {
  flex-basis: 76%;
}
.tbl-header__column--77,
.tbl-row__column--77 {
  flex-basis: 77%;
}
.tbl-header__column--78,
.tbl-row__column--78 {
  flex-basis: 78%;
}
.tbl-header__column--79,
.tbl-row__column--79 {
  flex-basis: 79%;
}
.tbl-header__column--80,
.tbl-row__column--80 {
  flex-basis: 80%;
}
.tbl-header__column--81,
.tbl-row__column--81 {
  flex-basis: 81%;
}
.tbl-header__column--82,
.tbl-row__column--82 {
  flex-basis: 82%;
}
.tbl-header__column--83,
.tbl-row__column--83 {
  flex-basis: 83%;
}
.tbl-header__column--84,
.tbl-row__column--84 {
  flex-basis: 84%;
}
.tbl-header__column--85,
.tbl-row__column--85 {
  flex-basis: 85%;
}
.tbl-header__column--86,
.tbl-row__column--86 {
  flex-basis: 86%;
}
.tbl-header__column--87,
.tbl-row__column--87 {
  flex-basis: 87%;
}
.tbl-header__column--88,
.tbl-row__column--88 {
  flex-basis: 88%;
}
.tbl-header__column--89,
.tbl-row__column--89 {
  flex-basis: 89%;
}
.tbl-header__column--90,
.tbl-row__column--90 {
  flex-basis: 90%;
}
.tbl-header__column--91,
.tbl-row__column--91 {
  flex-basis: 91%;
}
.tbl-header__column--92,
.tbl-row__column--92 {
  flex-basis: 92%;
}
.tbl-header__column--93,
.tbl-row__column--93 {
  flex-basis: 93%;
}
.tbl-header__column--94,
.tbl-row__column--94 {
  flex-basis: 94%;
}
.tbl-header__column--95,
.tbl-row__column--95 {
  flex-basis: 95%;
}
.tbl-header__column--96,
.tbl-row__column--96 {
  flex-basis: 96%;
}
.tbl-header__column--97,
.tbl-row__column--97 {
  flex-basis: 97%;
}
.tbl-header__column--98,
.tbl-row__column--98 {
  flex-basis: 98%;
}
.tbl-header__column--99,
.tbl-row__column--99 {
  flex-basis: 99%;
}
.tbl-header__column--100,
.tbl-row__column--100 {
  flex-basis: 100%;
}
.tbl-header__column--101,
.tbl-row__column--101 {
  flex-basis: 101%;
}
.tbl-header__column--102,
.tbl-row__column--102 {
  flex-basis: 102%;
}
.tbl-header__column--103,
.tbl-row__column--103 {
  flex-basis: 103%;
}
.tbl-header__column--104,
.tbl-row__column--104 {
  flex-basis: 104%;
}
.tbl-header__column--105,
.tbl-row__column--105 {
  flex-basis: 105%;
}
.tbl-header__column--106,
.tbl-row__column--106 {
  flex-basis: 106%;
}
.tbl-header__column--107,
.tbl-row__column--107 {
  flex-basis: 107%;
}
.tbl-header__column--108,
.tbl-row__column--108 {
  flex-basis: 108%;
}
.tbl-header__column--109,
.tbl-row__column--109 {
  flex-basis: 109%;
}
.tbl-header__column--110,
.tbl-row__column--110 {
  flex-basis: 110%;
}
.tbl-header__column--111,
.tbl-row__column--111 {
  flex-basis: 111%;
}
.tbl-header__column--112,
.tbl-row__column--112 {
  flex-basis: 112%;
}
.tbl-header__column--113,
.tbl-row__column--113 {
  flex-basis: 113%;
}
.tbl-header__column--114,
.tbl-row__column--114 {
  flex-basis: 114%;
}
.tbl-header__column--115,
.tbl-row__column--115 {
  flex-basis: 115%;
}
.tbl-header__column--116,
.tbl-row__column--116 {
  flex-basis: 116%;
}
.tbl-header__column--117,
.tbl-row__column--117 {
  flex-basis: 117%;
}
.tbl-header__column--118,
.tbl-row__column--118 {
  flex-basis: 118%;
}
.tbl-header__column--119,
.tbl-row__column--119 {
  flex-basis: 119%;
}
.tbl-header__column--120,
.tbl-row__column--120 {
  flex-basis: 120%;
}
.tbl-header__column--121,
.tbl-row__column--121 {
  flex-basis: 121%;
}
.tbl-header__column--122,
.tbl-row__column--122 {
  flex-basis: 122%;
}
.tbl-header__column--123,
.tbl-row__column--123 {
  flex-basis: 123%;
}
.tbl-header__column--124,
.tbl-row__column--124 {
  flex-basis: 124%;
}
.tbl-header__column--125,
.tbl-row__column--125 {
  flex-basis: 125%;
}
.tbl-header__column--126,
.tbl-row__column--126 {
  flex-basis: 126%;
}
.tbl-header__column--127,
.tbl-row__column--127 {
  flex-basis: 127%;
}
.tbl-header__column--128,
.tbl-row__column--128 {
  flex-basis: 128%;
}
.tbl-header__column--129,
.tbl-row__column--129 {
  flex-basis: 129%;
}
.tbl-header__column--130,
.tbl-row__column--130 {
  flex-basis: 130%;
}
.tbl-header__column--131,
.tbl-row__column--131 {
  flex-basis: 131%;
}
.tbl-header__column--132,
.tbl-row__column--132 {
  flex-basis: 132%;
}
.tbl-header__column--133,
.tbl-row__column--133 {
  flex-basis: 133%;
}
.tbl-header__column--134,
.tbl-row__column--134 {
  flex-basis: 134%;
}
.tbl-header__column--135,
.tbl-row__column--135 {
  flex-basis: 135%;
}
.tbl-header__column--136,
.tbl-row__column--136 {
  flex-basis: 136%;
}
.tbl-header__column--137,
.tbl-row__column--137 {
  flex-basis: 137%;
}
.tbl-header__column--138,
.tbl-row__column--138 {
  flex-basis: 138%;
}
.tbl-header__column--139,
.tbl-row__column--139 {
  flex-basis: 139%;
}
.tbl-header__column--140,
.tbl-row__column--140 {
  flex-basis: 140%;
}
.tbl-header__column--141,
.tbl-row__column--141 {
  flex-basis: 141%;
}
.tbl-header__column--142,
.tbl-row__column--142 {
  flex-basis: 142%;
}
.tbl-header__column--143,
.tbl-row__column--143 {
  flex-basis: 143%;
}
.tbl-header__column--144,
.tbl-row__column--144 {
  flex-basis: 144%;
}
.tbl-header__column--145,
.tbl-row__column--145 {
  flex-basis: 145%;
}
.tbl-header__column--146,
.tbl-row__column--146 {
  flex-basis: 146%;
}
.tbl-header__column--147,
.tbl-row__column--147 {
  flex-basis: 147%;
}
.tbl-header__column--148,
.tbl-row__column--148 {
  flex-basis: 148%;
}
.tbl-header__column--149,
.tbl-row__column--149 {
  flex-basis: 149%;
}
.tbl-header__column--150,
.tbl-row__column--150 {
  flex-basis: 150%;
}
.tbl-header__column--center-text,
.tbl-row__column--center-text {
  text-align: center;
}

.tbl-header {
  display: flex;
  padding-bottom: 0.8rem;
  border-radius: 0.25rem;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  color: #333333;
}

.tbl-row {
  position: relative;
  display: flex;
  color: rgba(37, 37, 37, 0.93);
  background-color: #fff;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  font-size: 19px;
  font-weight: 300;
  line-height: 20px;
  align-items: center;
  width: -webkit-fill-available;
  height: 59px;
  border: 1px solid #dadce0;
}
.tbl-row:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.tbl-status {
  background-color: rgba(58, 58, 58, 0.09) !important;
}

.clickable-asset-tag {
  cursor: pointer;
  color: #1967d2;
}

.edit-asset-tag,
.delete-asset-tag {
  text-decoration: none;
  cursor: pointer;
  color: #1967d2;
}

.delete-asset-tag {
  display: inline-block;
  margin-left: 20px;
}

.single-category-group .tbl-header__column--action,
.single-category-group .tbl-row__column--action {
  width: 90px;
  text-align: left;
}

.action-buttons {
  display: flex;
}
.action-buttons h5 {
  margin: 0;
  font-weight: 400;
}
.action-buttons__edit {
  color: #1967d2;
}
.action-buttons__delete {
  color: #9E143E !important;
  margin-left: 20px !important;
}

.tbl-columns {
  display: flex;
}

.tbl-row-number {
  width: 50px;
  height: 50px;
  border-radius: 60%;
  font-size: 50px;
  line-height: 500px;
  text-align: center;
  background: #FFFFFF;
  margin-right: 18px;
  margin-top: 4px;
  border: 0.4px solid #0a0a0b;
}
.tbl-row-number h5 {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  color: #4F4F4F;
}

@media (max-width: 539px) {
  .tbl-header,
.tbl-row {
    padding-right: 40px;
    padding-left: 40px;
  }
  .tbl-header__column,
.tbl-row__column {
    flex: 1;
  }
  .tbl-header__column--5,
.tbl-row__column--5 {
    flex-basis: 5%;
  }
  .tbl-header__column--6,
.tbl-row__column--6 {
    flex-basis: 6%;
  }
  .tbl-header__column--7,
.tbl-row__column--7 {
    flex-basis: 7%;
  }
  .tbl-header__column--8,
.tbl-row__column--8 {
    flex-basis: 8%;
  }
  .tbl-header__column--9,
.tbl-row__column--9 {
    flex-basis: 9%;
  }
  .tbl-header__column--10,
.tbl-row__column--10 {
    flex-basis: 10%;
  }
  .tbl-header__column--11,
.tbl-row__column--11 {
    flex-basis: 11%;
  }
  .tbl-header__column--12,
.tbl-row__column--12 {
    flex-basis: 12%;
  }
  .tbl-header__column--13,
.tbl-row__column--13 {
    flex-basis: 13%;
  }
  .tbl-header__column--14,
.tbl-row__column--14 {
    flex-basis: 14%;
  }
  .tbl-header__column--15,
.tbl-row__column--15 {
    flex-basis: 15%;
  }
  .tbl-header__column--16,
.tbl-row__column--16 {
    flex-basis: 16%;
  }
  .tbl-header__column--17,
.tbl-row__column--17 {
    flex-basis: 17%;
  }
  .tbl-header__column--18,
.tbl-row__column--18 {
    flex-basis: 18%;
  }
  .tbl-header__column--19,
.tbl-row__column--19 {
    flex-basis: 19%;
  }
  .tbl-header__column--20,
.tbl-row__column--20 {
    flex-basis: 20%;
  }
  .tbl-header__column--21,
.tbl-row__column--21 {
    flex-basis: 21%;
  }
  .tbl-header__column--22,
.tbl-row__column--22 {
    flex-basis: 22%;
  }
  .tbl-header__column--23,
.tbl-row__column--23 {
    flex-basis: 23%;
  }
  .tbl-header__column--24,
.tbl-row__column--24 {
    flex-basis: 24%;
  }
  .tbl-header__column--25,
.tbl-row__column--25 {
    flex-basis: 25%;
  }
  .tbl-header__column--26,
.tbl-row__column--26 {
    flex-basis: 26%;
  }
  .tbl-header__column--27,
.tbl-row__column--27 {
    flex-basis: 27%;
  }
  .tbl-header__column--28,
.tbl-row__column--28 {
    flex-basis: 28%;
  }
  .tbl-header__column--29,
.tbl-row__column--29 {
    flex-basis: 29%;
  }
  .tbl-header__column--30,
.tbl-row__column--30 {
    flex-basis: 30%;
  }
  .tbl-header__column--31,
.tbl-row__column--31 {
    flex-basis: 31%;
  }
  .tbl-header__column--32,
.tbl-row__column--32 {
    flex-basis: 32%;
  }
  .tbl-header__column--33,
.tbl-row__column--33 {
    flex-basis: 33%;
  }
  .tbl-header__column--34,
.tbl-row__column--34 {
    flex-basis: 34%;
  }
  .tbl-header__column--35,
.tbl-row__column--35 {
    flex-basis: 35%;
  }
  .tbl-header__column--36,
.tbl-row__column--36 {
    flex-basis: 36%;
  }
  .tbl-header__column--37,
.tbl-row__column--37 {
    flex-basis: 37%;
  }
  .tbl-header__column--38,
.tbl-row__column--38 {
    flex-basis: 38%;
  }
  .tbl-header__column--39,
.tbl-row__column--39 {
    flex-basis: 39%;
  }
  .tbl-header__column--40,
.tbl-row__column--40 {
    flex-basis: 40%;
  }
  .tbl-header__column--41,
.tbl-row__column--41 {
    flex-basis: 41%;
  }
  .tbl-header__column--42,
.tbl-row__column--42 {
    flex-basis: 42%;
  }
  .tbl-header__column--43,
.tbl-row__column--43 {
    flex-basis: 43%;
  }
  .tbl-header__column--44,
.tbl-row__column--44 {
    flex-basis: 44%;
  }
  .tbl-header__column--45,
.tbl-row__column--45 {
    flex-basis: 45%;
  }
  .tbl-header__column--46,
.tbl-row__column--46 {
    flex-basis: 46%;
  }
  .tbl-header__column--47,
.tbl-row__column--47 {
    flex-basis: 47%;
  }
  .tbl-header__column--48,
.tbl-row__column--48 {
    flex-basis: 48%;
  }
  .tbl-header__column--49,
.tbl-row__column--49 {
    flex-basis: 49%;
  }
  .tbl-header__column--50,
.tbl-row__column--50 {
    flex-basis: 50%;
  }
  .tbl-header__column--51,
.tbl-row__column--51 {
    flex-basis: 51%;
  }
  .tbl-header__column--52,
.tbl-row__column--52 {
    flex-basis: 52%;
  }
  .tbl-header__column--53,
.tbl-row__column--53 {
    flex-basis: 53%;
  }
  .tbl-header__column--54,
.tbl-row__column--54 {
    flex-basis: 54%;
  }
  .tbl-header__column--55,
.tbl-row__column--55 {
    flex-basis: 55%;
  }
  .tbl-header__column--56,
.tbl-row__column--56 {
    flex-basis: 56%;
  }
  .tbl-header__column--57,
.tbl-row__column--57 {
    flex-basis: 57%;
  }
  .tbl-header__column--58,
.tbl-row__column--58 {
    flex-basis: 58%;
  }
  .tbl-header__column--59,
.tbl-row__column--59 {
    flex-basis: 59%;
  }
  .tbl-header__column--60,
.tbl-row__column--60 {
    flex-basis: 60%;
  }
  .tbl-header__column--61,
.tbl-row__column--61 {
    flex-basis: 61%;
  }
  .tbl-header__column--62,
.tbl-row__column--62 {
    flex-basis: 62%;
  }
  .tbl-header__column--63,
.tbl-row__column--63 {
    flex-basis: 63%;
  }
  .tbl-header__column--64,
.tbl-row__column--64 {
    flex-basis: 64%;
  }
  .tbl-header__column--65,
.tbl-row__column--65 {
    flex-basis: 65%;
  }
  .tbl-header__column--66,
.tbl-row__column--66 {
    flex-basis: 66%;
  }
  .tbl-header__column--67,
.tbl-row__column--67 {
    flex-basis: 67%;
  }
  .tbl-header__column--68,
.tbl-row__column--68 {
    flex-basis: 68%;
  }
  .tbl-header__column--69,
.tbl-row__column--69 {
    flex-basis: 69%;
  }
  .tbl-header__column--70,
.tbl-row__column--70 {
    flex-basis: 70%;
  }
  .tbl-header__column--71,
.tbl-row__column--71 {
    flex-basis: 71%;
  }
  .tbl-header__column--72,
.tbl-row__column--72 {
    flex-basis: 72%;
  }
  .tbl-header__column--73,
.tbl-row__column--73 {
    flex-basis: 73%;
  }
  .tbl-header__column--74,
.tbl-row__column--74 {
    flex-basis: 74%;
  }
  .tbl-header__column--75,
.tbl-row__column--75 {
    flex-basis: 75%;
  }
  .tbl-header__column--76,
.tbl-row__column--76 {
    flex-basis: 76%;
  }
  .tbl-header__column--77,
.tbl-row__column--77 {
    flex-basis: 77%;
  }
  .tbl-header__column--78,
.tbl-row__column--78 {
    flex-basis: 78%;
  }
  .tbl-header__column--79,
.tbl-row__column--79 {
    flex-basis: 79%;
  }
  .tbl-header__column--80,
.tbl-row__column--80 {
    flex-basis: 80%;
  }
  .tbl-header__column--81,
.tbl-row__column--81 {
    flex-basis: 81%;
  }
  .tbl-header__column--82,
.tbl-row__column--82 {
    flex-basis: 82%;
  }
  .tbl-header__column--83,
.tbl-row__column--83 {
    flex-basis: 83%;
  }
  .tbl-header__column--84,
.tbl-row__column--84 {
    flex-basis: 84%;
  }
  .tbl-header__column--85,
.tbl-row__column--85 {
    flex-basis: 85%;
  }
  .tbl-header__column--86,
.tbl-row__column--86 {
    flex-basis: 86%;
  }
  .tbl-header__column--87,
.tbl-row__column--87 {
    flex-basis: 87%;
  }
  .tbl-header__column--88,
.tbl-row__column--88 {
    flex-basis: 88%;
  }
  .tbl-header__column--89,
.tbl-row__column--89 {
    flex-basis: 89%;
  }
  .tbl-header__column--90,
.tbl-row__column--90 {
    flex-basis: 90%;
  }
  .tbl-header__column--91,
.tbl-row__column--91 {
    flex-basis: 91%;
  }
  .tbl-header__column--92,
.tbl-row__column--92 {
    flex-basis: 92%;
  }
  .tbl-header__column--93,
.tbl-row__column--93 {
    flex-basis: 93%;
  }
  .tbl-header__column--94,
.tbl-row__column--94 {
    flex-basis: 94%;
  }
  .tbl-header__column--95,
.tbl-row__column--95 {
    flex-basis: 95%;
  }
  .tbl-header__column--96,
.tbl-row__column--96 {
    flex-basis: 96%;
  }
  .tbl-header__column--97,
.tbl-row__column--97 {
    flex-basis: 97%;
  }
  .tbl-header__column--98,
.tbl-row__column--98 {
    flex-basis: 98%;
  }
  .tbl-header__column--99,
.tbl-row__column--99 {
    flex-basis: 99%;
  }
  .tbl-header__column--100,
.tbl-row__column--100 {
    flex-basis: 100%;
  }
  .tbl-header__column--101,
.tbl-row__column--101 {
    flex-basis: 101%;
  }
  .tbl-header__column--102,
.tbl-row__column--102 {
    flex-basis: 102%;
  }
  .tbl-header__column--103,
.tbl-row__column--103 {
    flex-basis: 103%;
  }
  .tbl-header__column--104,
.tbl-row__column--104 {
    flex-basis: 104%;
  }
  .tbl-header__column--105,
.tbl-row__column--105 {
    flex-basis: 105%;
  }
  .tbl-header__column--106,
.tbl-row__column--106 {
    flex-basis: 106%;
  }
  .tbl-header__column--107,
.tbl-row__column--107 {
    flex-basis: 107%;
  }
  .tbl-header__column--108,
.tbl-row__column--108 {
    flex-basis: 108%;
  }
  .tbl-header__column--109,
.tbl-row__column--109 {
    flex-basis: 109%;
  }
  .tbl-header__column--110,
.tbl-row__column--110 {
    flex-basis: 110%;
  }
  .tbl-header__column--111,
.tbl-row__column--111 {
    flex-basis: 111%;
  }
  .tbl-header__column--112,
.tbl-row__column--112 {
    flex-basis: 112%;
  }
  .tbl-header__column--113,
.tbl-row__column--113 {
    flex-basis: 113%;
  }
  .tbl-header__column--114,
.tbl-row__column--114 {
    flex-basis: 114%;
  }
  .tbl-header__column--115,
.tbl-row__column--115 {
    flex-basis: 115%;
  }
  .tbl-header__column--116,
.tbl-row__column--116 {
    flex-basis: 116%;
  }
  .tbl-header__column--117,
.tbl-row__column--117 {
    flex-basis: 117%;
  }
  .tbl-header__column--118,
.tbl-row__column--118 {
    flex-basis: 118%;
  }
  .tbl-header__column--119,
.tbl-row__column--119 {
    flex-basis: 119%;
  }
  .tbl-header__column--120,
.tbl-row__column--120 {
    flex-basis: 120%;
  }
  .tbl-header__column--121,
.tbl-row__column--121 {
    flex-basis: 121%;
  }
  .tbl-header__column--122,
.tbl-row__column--122 {
    flex-basis: 122%;
  }
  .tbl-header__column--123,
.tbl-row__column--123 {
    flex-basis: 123%;
  }
  .tbl-header__column--124,
.tbl-row__column--124 {
    flex-basis: 124%;
  }
  .tbl-header__column--125,
.tbl-row__column--125 {
    flex-basis: 125%;
  }
  .tbl-header__column--126,
.tbl-row__column--126 {
    flex-basis: 126%;
  }
  .tbl-header__column--127,
.tbl-row__column--127 {
    flex-basis: 127%;
  }
  .tbl-header__column--128,
.tbl-row__column--128 {
    flex-basis: 128%;
  }
  .tbl-header__column--129,
.tbl-row__column--129 {
    flex-basis: 129%;
  }
  .tbl-header__column--130,
.tbl-row__column--130 {
    flex-basis: 130%;
  }
  .tbl-header__column--131,
.tbl-row__column--131 {
    flex-basis: 131%;
  }
  .tbl-header__column--132,
.tbl-row__column--132 {
    flex-basis: 132%;
  }
  .tbl-header__column--133,
.tbl-row__column--133 {
    flex-basis: 133%;
  }
  .tbl-header__column--134,
.tbl-row__column--134 {
    flex-basis: 134%;
  }
  .tbl-header__column--135,
.tbl-row__column--135 {
    flex-basis: 135%;
  }
  .tbl-header__column--136,
.tbl-row__column--136 {
    flex-basis: 136%;
  }
  .tbl-header__column--137,
.tbl-row__column--137 {
    flex-basis: 137%;
  }
  .tbl-header__column--138,
.tbl-row__column--138 {
    flex-basis: 138%;
  }
  .tbl-header__column--139,
.tbl-row__column--139 {
    flex-basis: 139%;
  }
  .tbl-header__column--140,
.tbl-row__column--140 {
    flex-basis: 140%;
  }
  .tbl-header__column--141,
.tbl-row__column--141 {
    flex-basis: 141%;
  }
  .tbl-header__column--142,
.tbl-row__column--142 {
    flex-basis: 142%;
  }
  .tbl-header__column--143,
.tbl-row__column--143 {
    flex-basis: 143%;
  }
  .tbl-header__column--144,
.tbl-row__column--144 {
    flex-basis: 144%;
  }
  .tbl-header__column--145,
.tbl-row__column--145 {
    flex-basis: 145%;
  }
  .tbl-header__column--146,
.tbl-row__column--146 {
    flex-basis: 146%;
  }
  .tbl-header__column--147,
.tbl-row__column--147 {
    flex-basis: 147%;
  }
  .tbl-header__column--148,
.tbl-row__column--148 {
    flex-basis: 148%;
  }
  .tbl-header__column--149,
.tbl-row__column--149 {
    flex-basis: 149%;
  }
  .tbl-header__column--150,
.tbl-row__column--150 {
    flex-basis: 150%;
  }
  .tbl-header__column--center-text,
.tbl-row__column--center-text {
    text-align: center;
  }

  .tbl-header {
    font-size: 14px;
    margin-left: 0;
  }

  .tbl-row-number {
    display: none;
  }

  .tbl-row {
    position: relative;
    display: flex;
    background-color: #fff;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    border: 1px solid #dadce0;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    align-items: center;
    height: 50px;
  }
  .tbl-row:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .clickable-asset-tag {
    cursor: pointer;
    color: #1967d2;
  }

  .edit-asset-tag,
.delete-asset-tag {
    text-decoration: none;
    cursor: pointer;
    color: #1967d2;
  }

  .delete-asset-tag {
    display: inline-block;
    margin-left: 20px;
  }

  .single-category-group .tbl-header__column--action,
.single-category-group .tbl-row__column--action {
    width: 90px;
    text-align: left;
  }

  .action-buttons {
    display: flex;
  }
  .action-buttons h5 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
  }
  .action-buttons__delete {
    color: #9E143E !important;
    margin-left: 20px !important;
  }
}

/*# sourceMappingURL=Table.css.map */
