.mdc-snackbar {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9000 !important;
	height: 150px;
	box-sizing: border-box;
	margin: 8px;
	pointer-events: none;
	align-items: center;
	justify-content: center;
	-webkit-tap-highlight-color: transparent;
}

.mdc-snackbar__action {
	&:not(:disabled) {
		color: #3480e3 !important;
	}
	&::after,
	&::before {
		background-color: #3480e3 !important;
	}
	&:hover::before {
		opacity: 0.08;
	}
	&.mdc-ripple-upgraded--background-focused::before {
		opacity: 0.24;
		transition-duration: 75ms;
	}
	&:not(.mdc-ripple-upgraded) {
		&:focus::before {
			opacity: 0.24;
			transition-duration: 75ms;
		}
		&::after {
			transition: opacity 150ms linear;
		}
		&:active::after {
			opacity: 0.32;
			transition-duration: 75ms;
		}
	}
	&.mdc-ripple-upgraded {
		--mdc-ripple-fg-opacity: 0.32;
	}
}

@media (min-width: 539px) {
	.mdc-snackbar {
		position: fixed;
		top: 1rem;
		left: 50%;
		z-index: 99;
		display: flex;
		//width: 320px;
		height: 32px;
		box-sizing: border-box;
		padding: 0 15px 0 20px;
		margin-top: 0;
		margin-left: -200px;
		border-radius: 4px;
		opacity: 0.95;
		animation-name: slideInDown;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		justify-content: space-between;
		align-items: center;
	}
}

//.mdc-snackbar__surface {
//  background-color: #55D69C;
//}
