.MuiCard-root {
  //background-color: #f9f9f9;
  margin-bottom: 10px;
}

.dashboard-card {
  width: 100%;
  //height: 100px;
  //background-color: #FFFFFF;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: #657783;
  //display: flex;
  margin-top: 10px;
  margin-bottom: 14px;

  p {
    font-size: 14px;
  }

  .card-body {
    margin: 6px 14px 6px 14px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    width: unset;
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-items: center;

    &__title {
      font-size: 14px !important;
      margin: 0 14px 0 14px;
      //color: rgba(0, 0, 0, 0.76);
      font-weight: 500;
      background-color: rgba(25, 103, 210, 0.11);
      padding: 6px 20px;
      color: #1967d2;
      border-radius: 6px;
    }

    &__right-header {
      display: flex;
      width: auto;
      margin-right: 20px;
    }
  }
  @media (max-width: 539px) {
    .tbl-header, .tbl-row {
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
  }
}

.dashboard-card-header {
  display: flex;
  width: auto;
}
