.log-card {
  margin-top: 0 !important;
  margin-bottom: 8px !important;
  border: none !important;

  .log-details {
    position: relative;
    margin: 0.5em 10px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info {
    background-color: #e6f4ea !important;
  }

  &__error {
    background-color: rgba(210, 43, 53, 0.12) !important;
  }

  .log-details-info {
    &__header {
      h5 {
        margin-top: 10px;
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 500;
        color: #0e5827;
      }
    }

    &__date {
      display: inline-block;

      p {
        margin: 0 0 10px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1;
        color: #0e5827;
      }
    }
  }

  .log-details-error {
    &__header {
      h5 {
        margin-top: 10px;
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 500;
        color: #821721;
      }
    }

    &__date {
      display: inline-block;

      p {
        margin: 0 0 10px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1;
        color: #821721;
      }
    }
  }
}
