root {
  --mdc-theme-primary: #1967d2;
  --mdc-theme-secondary: #1967d2;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

.user-roles-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-roles-page__header__heading {
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
  color: #333;
}
.user-roles-page__table__action-buttons {
  color: #1967d2;
  cursor: pointer;
}
.user-roles-page__table__action-buttons .delete {
  margin-left: 20px;
  color: #9e143e;
}
@media (max-width: 539px) {
  .user-roles-page__table__action-buttons .delete {
    margin-left: 10px;
  }
}
.user-roles-page__table .tbl-row {
  font-size: 15px;
}
@media (max-width: 539px) {
  .user-roles-page__table .tbl-row {
    height: auto;
    font-size: 12px;
  }
  .user-roles-page__table .tbl-header,
  .user-roles-page__table .tbl-row {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.add-role-form__header {
  padding-bottom: 1rem;
  margin-right: 2rem;
}
.add-role-form__close-button {
  float: right;
  margin: -25px;
  font-weight: 300;
  color: #333;
  cursor: pointer;
  transform: scale(1.8, 1.2);
}
.add-role-form__close-button:hover {
  font-weight: 400;
}
.add-role-form__content {
  margin-top: 40px;
  margin-bottom: 40px;
}
.add-role-form__content__row {
  margin-top: 30px;
  margin-bottom: 24px;
}
.add-role-form__content__row .input-box-group__control {
  width: 360px;
}
.add-role-form__content__row .row-label {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.permissions {
  width: auto;
  padding-bottom: 25px;
  background-color: rgba(25, 103, 210, 0.03);
  border: 1px solid #dadce0;
  border-radius: 8px;
}
.permissions__tbl-header {
  display: flex;
  padding-top: 25px;
  padding-left: 24px;
}
.permissions__tbl-header__column {
  padding-right: 11px;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  color: rgba(25, 103, 210, 0.87);
  flex: 1;
}
@media (max-width: 539px) {
  .permissions__tbl-header__column {
    font-size: 13px;
  }
}
.permissions .access-levels {
  padding-right: 11px;
}
.permissions__tbl-body {
  padding-top: 25px;
  padding-left: 24px;
}
.permissions__tbl-row {
  display: flex;
  margin-bottom: 28px;
}
.permissions__tbl-row__item {
  flex: 1;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: rgba(37, 37, 37, 0.67);
}
@media (max-width: 539px) {
  .permissions__tbl-row__item {
    font-size: 13px;
  }
}
.permissions__tbl-row .header {
  padding-top: 11px;
}

/*# sourceMappingURL=UserRolesPage.css.map */
