.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-color: #E2E7ED;
}
@media (min-width: 768px) {
  .dashboard .mdc-top-app-bar {
    background-color: #1967d2;
    background-color: var(--mdc-theme-primary, #1967d2);
    color: #fff;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    z-index: 4;
  }
  .dashboard .mdc-top-app-bar__title {
    color: rgba(0, 0, 0, 0.87);
  }
  .dashboard .mdc-top-app-bar__navigation-icon {
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .dashboard .mdc-list {
    padding: 0;
  }
  .dashboard .mdc-list-item {
    height: 134px !important;
    justify-content: center;
  }
  .dashboard .mdc-layout-grid {
    padding: 0;
  }
  .dashboard .mdc-top-app-bar--fixed-adjust {
    padding: 64px 10px 20px;
    width: -webkit-fill-available;
  }
  .dashboard .drawer-logo {
    display: table-cell;
    width: 400px;
    height: 230px;
    vertical-align: middle;
    padding-top: 22px;
    padding-bottom: 8px;
    padding-left: 48px;
  }
  .dashboard .drawer-logo__image {
    height: 70px;
  }
  .dashboard .drawer-app-content {
    flex: auto;
    overflow: auto;
  }
  .dashboard .top-app-bar-fix-adjust {
    display: flex;
    width: 100%;
  }
  .dashboard .side-nav {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 96px;
    z-index: 50;
  }
  .dashboard .side-nav__top {
    height: 64px;
  }
  .dashboard .mdc-notched-outline__idle {
    -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid;
  }
  .dashboard .mdc-text-field--focused {
    border: none !important;
  }
  .dashboard .mdc-text-field--fullwidth:not(.mdc-text-field--textarea):not(.mdc-text-field--disabled) {
    background-color: #ffffff5c !important;
  }
  .dashboard .mdc-drawer {
    width: 330px;
    background-color: #1a1a1a;
    align-items: center;
    align-content: center;
    position: center;
    border-right-width: 0.2px;
    border-right-style: solid;
  }
  .dashboard .mdc-drawer__header {
    background-color: #AFBED3;
    height: 230px;
  }
  .dashboard .mdc-drawer__header__drawer-logo {
    display: table-cell;
    width: 400px;
    height: 200px;
    vertical-align: middle;
    padding-top: 48px;
    padding-bottom: 8px;
    padding-left: 36px;
  }
  .dashboard .mdc-drawer__content {
    width: 400px;
  }
  .dashboard .mdc-list-item {
    margin: 0;
    padding: 0;
  }
  .dashboard .mdc-list-item__text {
    font-size: 22px;
    color: #D8DFE8;
  }
  .dashboard .mdc-list-item--activated {
    background-color: #3480E3;
  }
  .dashboard .mdc-drawer .mdc-list-item:nth-child(1) {
    margin-bottom: 0;
    border-style: solid;
    border-width: 0 0 0.5px 0;
    border-color: rgba(165, 165, 165, 0.58);
  }
  .dashboard .mdc-drawer .mdc-list-item:nth-child(1) {
    margin-top: 0;
  }
}

.head-title {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  position: absolute;
  top: 84%;
  width: 100%;
}

.title-cover-page {
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.title-cover {
  font: 400 36px/54px Google Sans, Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  color: #202124;
}

.dashboard-nav {
  min-height: 4rem;
  background-color: #E2E7ED;
  height: 230px;
  margin: 20px 0 0 450px;
  display: flex;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  z-index: 4;
}
.dashboard-nav__left-section {
  width: 674px;
}
.dashboard-nav__left-section__title {
  width: 654px;
  height: 73px;
  background-color: #083877;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: #D8DFE8;
  display: flex;
}
.dashboard-nav__left-section__title h2 {
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.dashboard-nav__left-section__content {
  width: 654px;
  height: 100px;
  background-color: #FFFFFF;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: #657783;
  display: flex;
  margin-top: 30px;
}
.dashboard-nav__left-section__content p {
  font-size: 14px;
  margin: 20px 14px 20px 14px;
}
.dashboard-nav__right-section {
  width: 674px;
  padding-left: 100px;
}
.dashboard-nav__right-section__name {
  width: 300px;
  height: 73px;
  background-color: #223242;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: #D8DFE8;
  display: flex;
}
.dashboard-nav__right-section__name h2 {
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
}

@media (max-width: 768px) {
  .title-cover {
    font: 400 20px/34px Google Sans, Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    color: #202124;
  }
}
@media (min-width: 1024px) {
  .drawer-content {
    background-attachment: fixed;
    width: -webkit-fill-available;
    margin: 0 96px;
  }
}
@media (max-width: 500px) {
  .mdc-top-app-bar {
    background-color: #1967d2;
    background-color: var(--mdc-theme-primary, #1967d2);
    color: #fff;
  }
  .mdc-top-app-bar__title {
    color: rgba(6, 6, 6, 0.81);
  }
  .mdc-top-app-bar__navigation-icon {
    color: rgba(234, 239, 245, 0.81) !important;
  }

  .mdc-drawer .mdc-list-item {
    margin: 8px 8px 8px 0;
  }

  .mdc-list-item__text {
    margin-left: 8px;
  }

  .dashboard-mobile-nav {
    background-color: rgba(8, 56, 119, 0.92);
    color: #f1f1f1;
    min-height: 4rem !important;
  }

  .drawer-logo {
    display: table-cell;
    height: 20px;
    color: #f1f1f1;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 0;
  }
  .drawer-logo h2 {
    font-weight: 400;
    font-size: 20px;
  }
  .drawer-logo h5 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
  }
  .drawer-logo img {
    height: 60px;
    width: 60px;
  }

  .mdc-drawer .mdc-list-group__subheader {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01786em;
    text-decoration: inherit;
    text-transform: inherit;
    display: block;
    margin-top: 0;
    line-height: normal;
    margin: 0;
    padding: 0 16px;
  }

  .header-image {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .mdc-drawer .mdc-list-item:nth-last-child(1) {
    margin-bottom: 14px;
  }
}
@media (max-width: 360px) {
  .drawer-logo {
    padding-top: 18px;
    padding-bottom: 8px;
    padding-left: 20px;
  }
  .drawer-logo__image {
    height: 30px;
  }
}

/*# sourceMappingURL=DashboardNavBar.css.map */
